<h3>Log Room
   <small>Tickets Overview</small>
</h3>
<div class="container">
    <hr>
    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search..">

    <table id="myTable">
    <tr class="header">
        <th style="width:5%;"></th>
        <th style="width:10%;">Ticket #</th>
        <th style="width:10%;">Crime</th>
        <th style="width:10%;">Priority</th>
        <th style="width:10%;">Location</th>
        <th style="width:10%;">Date Submitted</th>
        <th style="width:10%;">Tags</th>
        <th style="width:10%;"></th>
    </tr>
    <tr>
        <td>
            <div class="checkbox c-checkbox big-checkbox">
                <label>
                    <input class="big-checkbox" type="checkbox" />
                </label>
            </div>
        </td>
        <td>125562</td>
        <td>Arson</td>
        <td>Urgent</td>
        <td>Jakarta Pusat</td>
        <td>12/25/2016</td>
        <td>
            <span class="tag tag-default">Arson</span>
            <span class="tag tag-warning">Urgent</span>
        </td>
        <td>
            <button ui-sref="app.ticket" type="button" class="btn btn-info">
                <span class="icon-eye"></span> View
            </button>
        </td>
    </tr>
    <tr>
        <td>
            <div class="checkbox c-checkbox">
                <label>
                    <input class="big-checkbox" type="checkbox" />
                </label>
            </div>
        </td>
        <td>665231</td>
        <td>Robbery</td>
        <td>Urgent</td>
        <td>Jakarta Pusat</td>
        <td>12/25/2016</td>
        <td>
            <span class="tag tag-default">Robbery</span>
            <span class="tag tag-warning">Urgent</span>
        </td>
        <td>
            <button type="button" class="btn btn-info">
                <span class="icon-eye"></span> View
            </button>
        </td>
    </tr>
    <tr>
        <td>
            <div class="checkbox c-checkbox">
                <label>
                    <input class="big-checkbox" type="checkbox" />
                </label>
            </div>
        </td>
        <td>155890</td>
        <td>Murder</td>
        <td>Low</td>
        <td>Jakarta Pusat</td>
        <td>12/25/2016</td>
        <td>
            <span class="tag tag-default">Murder</span>
            <span class="tag tag-success">Low</span>
        </td>
        <td>
            <button type="button" class="btn btn-info">
                <span class="icon-eye"></span> View
            </button>
        </td>
    </tr>
    <tr>
        <td>
            <div class="checkbox c-checkbox">
                <label>
                    <input class="big-checkbox" type="checkbox" />
                </label>
            </div>
        </td>
        <td>1097343</td>
        <td>Burglary</td>
        <td>Low</td>
        <td>Jakarta Pusat</td>
        <td>12/25/2016</td>
        <td>
            <span class="tag tag-default">Burglary</span>
            <span class="tag tag-success">Low</span>
        </td>
        <td>
            <button type="button" class="btn btn-info">
                <span class="icon-eye"></span> View
            </button>
        </td>
    </tr>
    </table>
</div>

<script>
    function myFunction() {
    // Declare variables
    var input, filter, table, tr, td, i;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    table = document.getElementById("myTable");
    tr = table.getElementsByTagName("tr");

    // Loop through all table rows, and hide those who don't match the search query
    for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[0];
        if (td) {
        if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
        } else {
            tr[i].style.display = "none";
        }
        }
    }
    }
</script>