<h3 class="icon-screen-tablet"> Ticket #125562
    <small>Details</small>
</h3>


<div class="row">
    <div class="col-md-4 text-center colmd4">
        <h2 style="color: #fff;">5 Days</h2>
    </div>
    <div class="col-md-6 text-center colmd6">
        <h2>ONGOING</h2>
    </div>
    <div class="col-md-2 text-center colmd2">
        <h2 style="color: #fff;">URGENT</h2>
    </div>
</div>
<br>
<br>
<div class="container">
    <h3 class="">TICKET DATA</h3>
    <div class="row">
        <div class="col-sm-4 greybg">
            <p>Created On: 12/25/2016</p>
            <p>Type: Arson</p>
        </div>
        <div class="col-sm-4 greybg">
            <p>Location: Jakarta Pusat</p>
            <p>Priority: URGENT</p>
        </div>
        <div class="col-sm-4 greybg">
            <p>Client: Pertamina</p>
            <p>Whistleblower: Anggi M.</p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-10">
        <h1>Arson in Store Building</h1>
        <p>I witnessed a suspicious person setting a store on fire. Store located on Jl. TB Simatupang, near the gas
            station. Suspect had a slim build aged around 25 years old. The suspect was traveling with two friends and 
            after they set the building on fire, they escaped on a vehicle. The vehicle is a black Toyota sedan. The last
            four digits of the plate number was BII.
        </p>
        <textarea class="tickettext" placeholder="Operator Notes"></textarea>
    </div>
    
</div>

<div class="container">
            <div class="panel panel-default">
               <div class="panel-heading">
                  <div class="pull-right label label-danger">5</div>
                  <div class="pull-right label label-success">12</div>
                  <div class="panel-title">Conversation History</div>
               </div>
               <!-- START list group-->
               <scrollable height="180" class="list-group">
                  <!-- START list group item-->
                  <a href="#" class="list-group-item">
                     <div class="media-box">
                        <div class="pull-left">
                           <img src="app/img/user/02.jpg" alt="Image" class="media-box-object img-circle thumb32" />
                        </div>
                        <div class="media-box-body clearfix">
                           <small class="pull-right">2h</small>
                           <strong class="media-box-heading text-primary">
                              <span class="circle circle-success circle-lg text-left"></span>Anggi M.</strong>
                           <p class="mb-sm">
                              <small>Cras sit amet nibh libero, in gravida nulla. Nulla...</small>
                           </p>
                        </div>
                     </div>
                  </a>
                  <!-- END list group item-->
                  <!-- START list group item-->
                  <a href="#" class="list-group-item">
                     <div class="media-box">
                        <div class="pull-left">
                           <img src="app/img/user/03.jpg" alt="Image" class="media-box-object img-circle thumb32" />
                        </div>
                        <div class="media-box-body clearfix">
                           <small class="pull-right">3h</small>
                           <strong class="media-box-heading text-primary">
                              <span class="circle circle-success circle-lg text-left"></span>Operator AD</strong>
                           <p class="mb-sm">
                              <small>Cras sit amet nibh libero, in gravida nulla. Nulla facilisi.</small>
                           </p>
                        </div>
                     </div>
                  </a>
                  <!-- END list group item-->
                  <!-- START list group item-->
                  <a href="#" class="list-group-item">
                     <div class="media-box">
                        <div class="pull-left">
                           <img src="app/img/user/09.jpg" alt="Image" class="media-box-object img-circle thumb32" />
                        </div>
                        <div class="media-box-body clearfix">
                           <small class="pull-right">4h</small>
                           <strong class="media-box-heading text-primary">
                              <span class="circle circle-danger circle-lg text-left"></span>Anggi M.</strong>
                           <p class="mb-sm">
                              <small>Cras sit amet nibh libero, in gravida nulla. Nulla...</small>
                           </p>
                        </div>
                     </div>
                  </a>
                  <!-- END list group item-->
                  <!-- START list group item-->
                  <a href="#" class="list-group-item">
                     <div class="media-box">
                        <div class="pull-left">
                           <img src="app/img/user/10.jpg" alt="Image" class="media-box-object img-circle thumb32" />
                        </div>
                        <div class="media-box-body clearfix">
                           <small class="pull-right">2d</small>
                           <strong class="media-box-heading text-primary">
                              <span class="circle circle-danger circle-lg text-left"></span>Operator AD</strong>
                           <p class="mb-sm">
                              <small>Mauris eleifend, libero nec cursus lacinia...</small>
                           </p>
                        </div>
                     </div>
                  </a>
                  <!-- END list group item-->
               </scrollable>
               <!-- END list group-->
               <!-- START panel footer-->
               <div class="panel-footer clearfix">
                  <div class="input-group">
                     <input type="text" placeholder="Search message .." class="form-control input-sm" />
                     <span class="input-group-btn">
                        <button type="submit" class="btn btn-default btn-sm"><i class="fa fa-search"></i>
                        </button>
                     </span>
                  </div>
               </div>
               <!-- END panel-footer-->
            </div>
         </div>

<button type="button" class="btn btn-success">SAVE</button>
<button type="button" class="btn btn-info">Push to QC</button>
<button type="button" class="btn btn-warning pull-right">Cancel</button>

